@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: whitesmoke;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container
{
  width: 570px;
  height: 530px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.4);
}

.header {
  background: dodgerblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 30px;
}

.player-container,.computer-container {
  margin: 50px;
}

h2 {
  margin-bottom: 20px;
}

.fa-regular {
  font-size: 50px;
  margin-right: 40px;
  User-select: none;
  cursor: pointer;
}
.fa-solid
{
  font-size: 50px;
  margin-right: 40px;
  User-select: none;
}

.player-selected
{
  color: dodgerblue;
}
.computer-selected
{
  color: rgb(255, 30, 49);
}

#playerScore
{
  
  background: dodgerblue;
  color: white;
  border-radius: 6px;
}
#computerScore
{
  color: white;
  background: rgb(255, 30, 49);
  border-radius: 6px;
}
.reset-icon {
  font-size: 30px;
  cursor: pointer;
  margin-left: 50px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-size: 40px;
  margin: unset;
  margin-top: 20px;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .game-container {
    width: 95%;
    height: 580px;
  }

  h1 {
    font-size: 24px;
  }

  .player-container, .computer-container {
    margin: 50px 0 25px 25px;
  }

  .fa-regular, .fa-solid {
    margin-right: 16px;
  }

  .reset-icon {
    margin-top: 25px;
    margin-left: 25px;
  }
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .game-container {
    height: 550px;
  }

  h1 {
    font-size: 22px;
  }

  .player-container, .computer-container {
    margin: 43px 0 25px 20px;
  }

  .fa-regular, .fa-solid {
    font-size: 43px;
  }

  .reset-icon {
    margin-top: 15px;
  }

  .result-container {
    margin: 0 20px;
  }
}
